extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="contact-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Happy to help
                            h3.hero__subtitle Need more information? Our friendly team are ready to assist.
            
            .contact__form__section
                .container
                    .contact__form_box
                        form
                            .form-group
                                input.form-control(type='text' placeholder='Your name')
                            .form-group
                                input.form-control(type='email' placeholder='Your email')
                            .form-group
                                textarea.form-control(rows='5' placeholder='Your message')
                            .form-group
                                button.btn.btn-lg.btn-success.btn-block Send Message
                    hr
            
            .contact__info_section
                .container-fluid
                    .row
                        .col-lg-3.col-md-3.address
                            h3 Visit Us
                            address 120 Awolowo Road, #[br] Ikoyi
                            address Lagos
                            address +234 803 4952276
                            address #[a(href="mailto:firstrenaissanceassociates@gmail.com") firstrenaissanceassociates@gmail.com]
                        .col-lg-9.col-md-9.map
                            .overlay
                            iframe(id="gmap_canvas" src="https://maps.google.com/maps?q=The%20Garnet%2C%20Lagos%2C%20Nigeria&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0")