extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="features-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Tour DigIT
                            h3.hero__subtitle See what makes DigIT great for your business.