extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="features-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Tour DigIT
                            h3.hero__subtitle See what makes DigIT great for your business.
            
            .feature__section.padding__y40
                .container
                    .row
                        .col-lg-10.col-lg-offset-1.col.col-md-12
                            .row
                                .col-lg-7.col-md-7
                                    h3.txt-center.ltr__spacing_1 Invoicing
                                    p Create and send custom professional invoices to your customers and get paid fast. Track your invoice status through it's lifecylce.
                                .col-lg-5.col-md-5
                            hr

                            .row
                                .col-lg-5.col-md-5
                                .col-lg-7.col-md-7
                                    h3.txt-center.ltr__spacing_1 Payments
                                    p Get paid faster by accepting card payments right from your invoices.
                            hr
                            .row
                                .col-lg-7.col-md-7
                                    h3.txt-center.ltr__spacing_1 Contacts
                                    p Manage your contact database with ease. Easily find customer, supplier and employee data.
                                .col-lg-5.col-md-5
                            hr
                            .row
                                .col-lg-5.col-md-5
                                .col-lg-7.col-md-7
                                    h3.txt-center.ltr__spacing_1 Reports
                                    p A wide gamut of reports to help you see how your business is doing at every point in time.
                            hr
                    .row
                        h3.txt-center.ltr__spacing_1 All Features
                        .col-lg-4.col-md-4.feature__list_container
                            ul.reset__list.feature__list
                                li Contact Management
                                li Invoices
                                li Financial Reports
                        .col-lg-4.col-md-4.feature__list_container  
                            ul.reset__list.feature__list
                                li Expenses
                                li Accounting and Tax
                                li Analytics
                        .col-lg-4.col-md-4.feature__list_container
                            ul.reset__list.feature__list
                                li Invoice Templates
                                li Online Payments
                                li Personal Assistant

            .cta__section.padding__y40
                .container.txt-center
                    h3 Start sending invoices and more within minutes.
                    a.btn.btn-lg.btn-outline-inverse.uppercase(href=app_url+"/signup" target="_blank") Get Started