extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="home-page" ng-controller="HomeController as vm")
            .slider__section
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide(ng-repeat="slide in vm.slides")
                            img.img-responsive(ng-src="{{ slide.imgUrl }}")
                            .slide-caption
                                h1.ltr__spacing_1 {{ slide.caption }}
                                p {{ slide.subtitle }}
                    .swiper-pagination
            
            .highlights__section.padding__y40
                .container
                    .row.padding__y20
                        .col-lg-6.col-md-6.image.visible-xs.visible-sm
                            img.img-responsive(src="/assets/img/screens/app-invoices.png" alt="Invoices")
                        .col-lg-6.col-md-6.col-sm.description
                            h3 Get paid faster
                            p Send professional custom invoices to clients in seconds. Track your invoice status so you know when to expect money in your bank account.
                        .col-lg-6.col-md-6.image.visible-md.visible-lg
                            img.img-responsive(src="/assets/img/screens/app-invoices.png" alt="Invoices")

                    .row.padding__y20
                        .col-lg-6.col-md-6.image
                            img.img-responsive(src="https://files.readme.io/q0n6EYxvRFSPllhMBsYT_online-pay-button.png" alt="Invoices")
                        .col-lg-6.col-md-6.col-sm.description
                            h3 Grow your business
                            p Accept cards payments to get paid faster. You and your customers will love the convenience.
                    
                    .row.padding__y20
                        .col-lg-6.col-md-6.image.visible-xs.visible-sm
                            img.img-responsive(src="/assets/img/screens/app-dashboard.png" alt="accounting")
                        .col-lg-6.col-md-6.col-sm.description
                            h3 Keep the books organized
                            p Know the ins and outs of your business expenses and making better spending decisions and budgets.
                        .col-lg-6.col-md-6.image.visible-md.visible-lg
                            img.img-responsive(src="/assets/img/screens/app-dashboard.png" alt="accounting")
            
            .cta__section.padding__y40
                .container.txt-center
                    h3 Take your business to the next level. Try Bridge Books for 15 days
                    a.btn.btn-outline-inverse.btn-lg(href=app_url+"/signup" target="_blank") Try Bridge Books for 15 days
            
            .marketsegment__section.padding__y40
                .container
                    .row
                        h3.txt-center Ideal for businesses across industries
                    
                        .col-lg-4.col-md-4
                            ul.reset__list.txt-center.industry__list
                                li #[i.fa.fa-lg.fa-share-alt] Marketing
                                li #[i.fa.fa-lg.fa-camera-retro] Photography
                                li #[i.fa.fa-lg.fa-building] Real Estate
                                li #[i.fa.fa-lg.fa-gavel] Legal
                        .col-lg-4.col-md-4
                            ul.reset__list.txt-center.industry__list
                                li #[i.fa.fa-lg.fa-cutlery] Catering Services
                                li #[i.fa.fa-lg.fa-headphones] Consulting
                                li #[i.fa.fa-lg.fa-book] Education &amp; Training
                                li #[i.fa.fa-lg.fa-shopping-bag] Retail
                        .col-lg-4.col-md-4
                            ul.reset__list.txt-center.industry__list
                                li #[i.fa.fa-lg.fa-medkit] Healthcare
                                li #[i.fa.fa-lg.fa-paint-brush] Cleaning Services
                                li #[i.fa.fa-lg.fa-file-code-o] Software Development
                                li #[i.fa.fa-lg.fa-wrench] Engineering

            .cta__section.padding__y40
                .container.txt-center
                    h3 Are you an accountant?
                    p Bridge Books brings together all the information accountants need in a simple and user friendly space. #[br] Our toolkit gives your the tools to improve your clients' account.
                    a.btn.btn-outline-inverse.btn-lg(href="" target="_blank") Download the Whitepaper
