extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="home-page" ng-controller="HomeController as vm")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title.txt-left Get paid, track expenses
                            h1.hero__title.txt-left and manage your finances
                            p.hero__subtitle.txt-left Work smarter, not harder. Bridgebooks makes balancing your books #[br] and diving into insights simple, fast, and convenient.
                            div.action
                                a.btn.btn-lg.btn-primary(href=app_url+"/signup" target="_blank") Get Started
            
            .highlights__section
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide.padding__y20.txt-center
                            h1
                                i.fa.fa-lg.fa-clipboard
                            h3.uppercase Invoicing
                            p Send profressional invoices to your clients in seconds and get paid seamlessly via debit/credit cards.
                        .swiper-slide.padding__y20.txt-center
                            h1
                                i.fa.fa-lg.fa-book
                            h3.uppercase Accounting
                            p Easy to use book-keeping and reporting system to provide you with visibility into your financials and more. 
                        .swiper-slide.padding__y20.txt-center
                            h1
                                i.fa.fa-lg.fa-users
                            h3.uppercase Payroll
                            p Manage employee information and generate your payroll with ease and focus on taking your business to next level.
                        .swiper-slide.padding__y20.txt-center
                            h1
                                i.fa.fa-lg.fa-address-card-o
                            h3.uppercase Contacts
                            p Never worry about losing a contact again. See all your contact's information, invoices, and bills at a glance.
                        .swiper-slide.padding__y20.txt-center
                            h1
                                i.fa.fa-lg.fa-area-chart
                            h3.uppercase Reports
                            p Easy to understand reports to help you make sense your business's numbers.
                    .swiper__nav.nav-left
                        a.nav-button(ng-click="vm.swipeLeft()") #[i.fa.fa-3x.fa-angle-left]
                    .swiper__nav.nav-right
                        a.nav-button(ng-click="vm.swipeRight()") #[i.fa.fa-3x.fa-angle-right]

            .showcase__section
                .container.txt-center
                    .row
                        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
                            .showcase__text
                                h2 Give your business the tools it needs to be successfull.
                                p Simple, beautiful, and powerful, Bridgebooks gives you the tools and intelligence to take your business to the next level.
                                a.btn.btn-outline-inverse.btn-lg(href="/features") Learn about Bridge Books 
                                .extra
                                    a.btn.btn-link.btn-lg(href=app_url+"/signup" target="_blank") Try Bridge Books for 30 days
                            .screenshot__holder
                                img.img-responsive(src="/assets/img/screens/app-dashboard.png" alt="Bridgebooks Dashboard")
            
            .cta__section.padding__y40
                .container.txt-center
                    h3 Are you an accountant?
                    p Bridge Books brings together all the information accountants need in a simple and user friendly space. #[br] Our toolkit gives your the tools to improve your clients' account.
                    a.btn.btn-outline-inverse.btn-lg(href="" target="_blank") Download the Whitepaper
