extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="pricing-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Pricing
                            h3.hero__subtitle Pick a plan and get started with DigIT today.