extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="pricing-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Pricing
                            h3.hero__subtitle Pick a plan and get started with DigIT today.
            
            .pricing__section
                .container
                    .row
                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center
                                h3.ltr__spacing_1h DigIT Easy
                                h4.pricing__package_description Running a business is difficult, get your financial organized and focus on growing your business. #[br] Send up to 3 invoices per month
                                .pricing__package_pricing
                                    h2 NGN 3600
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 43200
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features
                                ul.feature__list.reset__list.txt-center
                                    li Up to 5 Users
                                    li 10 invoices
                                    li Unlimited Contacts
                                    li User management
                                    li Reports
                                    li Support
                                    li Two factor authentication
                                    li SSL and at-rest encryption

                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center.recommended
                                .pricing__package_banner Recommended
                                h3.ltr__spacing_1h DigIT Pro
                                h4.pricing__package_description Combine your financials with analytics like a pro and get better insights into your business. #[br] Great for businesses with 5-20 employees
                                .pricing__package_pricing
                                    h2 NGN 6000
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 72000
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features.recommended
                                ul.feature__list.reset__list.txt-center
                                    li All DigIT Easy features, plus;
                                    li Up to 20 Users
                                    li Unlimited Invoices
                                    li Custom invoice templates
                                    li Invoice attachements
                                    li Analytics
                                    li Personal Assistant
                                        
                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center
                                h3.ltr__spacing_1h DigIT Enterprise
                                h4.pricing__package_description Manage significantly larger flow of financial transactions while having real-time business insights needed for sustained growth
                                .pricing__package_pricing
                                    h2 NGN 8000
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 96000
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features
                                ul.feature__list.reset__list.txt-center
                                    li All DigIT Pro features, plus;
                                    li Unlimited Users
                                    li Digital advisory services

            .faq__section.padding__y40
                .container
                    h2.txt-center.ltr__spacing_1 Frequently Asked Questions
                    .row
                        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I sign up
                                    p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.

                                .col-lg-6.col-md-6.question__block
                                    h3.question What are the payment options?
                                    p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.
                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question When will I be billed?
                                    p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.

                                .col-lg-6.col-md-6.question__block
                                    h3.question Will DigIT work on my computer?
                                    p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.

                            .row
                                    .col-lg-6.col-md-6.question__block
                                        h3.question What is Digital Advisory?
                                        p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.

                                    .col-lg-6.col-md-6.question__block
                                        h3.question Have more questions?
                                        p.anwswer Lorem ipsum dolor sit amet, pro eligendi reprehendunt ad, at ubique eirmod nec. Ad duo possit vituperata. Te iriure constituam est. Aperiam singulis vel no, eum te audiam hendrerit interpretaris. Tota admodum adipiscing ei sit, et purto consul convenire nec.
            
            .pricing__cta__section.padding__y40
                .container.txt-center
                    h3 Give your business a boost today!
                    a.btn.btn-lg.btn-success.uppercase Start my 15-day trial
