extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="pricing-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Pricing
                            h3.hero__subtitle Get started today with Bridge Books by getting one of our amazing plans that suit your budget.
            
            .pricing__section
                .container
                    .row
                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center
                                h3.ltr__spacing_1h Bridge Books Easy
                                h4.pricing__package_description Intuitively designed to keep you on track and prevent errors while managing basic finance and payroll administrative tasks.
                                .pricing__package_pricing
                                    h2 NGN 3600
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 43200
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features
                                ul.feature__list.reset__list.txt-center
                                    li Up to 5 Users
                                    li 10 invoices
                                    li Unlimited Contacts
                                    li User management
                                    li Reports
                                    li Support
                                    li Two factor authentication
                                    li SSL and at-rest encryption

                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center.recommended
                                .pricing__package_banner Recommended
                                h3.ltr__spacing_1h Bridge Books Pro
                                h4.pricing__package_description Combine financials with analytics, and transform your digits into insights and have better financially driven strategies. 
                                .pricing__package_pricing
                                    h2 NGN 6000
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 72000
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features.recommended
                                ul.feature__list.reset__list.txt-center
                                    li All Bridge Books Easy features, plus;
                                    li Up to 20 Users
                                    li Unlimited Invoices
                                    li Custom invoice templates
                                    li Invoice attachements
                                    li Analytics
                                    li Personal Assistant
                                        
                        .col-lg-4.col-md-4.pricing__package_col
                            .pricing__package.txt-center
                                h3.ltr__spacing_1h Bridge Books Enterprise
                                h4.pricing__package_description Manage significantly larger flow of financial transactions while having real-time business insights needed for sustained growth.
                                .pricing__package_pricing
                                    h2 NGN 8000
                                    h4 per Month
                                .pricing__package_pricing
                                    h2 NGN 96000
                                    h4 per Annum
                                .pricing__package_actions.padding__y20
                                    .btn-group
                                        a.btn.btn-lg.btn-default Try It
                                        a.btn.btn-lg.btn-success Buy Now
                            .pricing__package_features
                                ul.feature__list.reset__list.txt-center
                                    li All Bridge Books Pro features, plus;
                                    li Unlimited Users
                                    li Digital advisory services

            .faq__section.padding__y40
                .container
                    h2.txt-center.ltr__spacing_1 Frequently Asked Questions
                    .row
                        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question What is Bridge Books
                                    p.answer Bridge Books is a simple accounting and payroll solution that helps individuals and businesses manage their cash flow. This way, you can stay on top of your business finances and have real-time insight to your financial performance.

                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I sign up?
                                    p.answer Getting on to the Bridge Books platform is as easy as submitting your basic information. Once you get signed up, you can access the comprehensive platform for 15 days free of charge!

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question When do I start getting billed?
                                    p.answer Once your 15day free trial is over, we hope that you fall in love with our service offerings. This way, you can pick one of the subscription plans. Once subscription plans have been chosen, you can automatically start enjoying Bridge Books on the move.

                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I manage recurring subscriptions
                                    p.answer Your Bridge Books subscription is managed through a secured payment platform. Card details will be required, but not to worry, we guarantee that charges will only be incurred when due.

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question Can I migrate my data from other software
                                    p.answer Yes. Migrating from other software to Bridge Books is seamless. Bridge Books accepts data in CSV format and data can be easily exported to CSV, Excel and pdf formats.


                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I receive payment from my customers?
                                    p.answer Bridge Books makes payments easier. With card payment built directly into your invoices, your customers can easily pay directly into your bank accounts. This automatically reflects in your accounting reports in real-time; thereby making accounting simple and seamless.

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question What is Digital Advisory?
                                    p.answer Digital Advisory is an on-demand online support provided by our in-house financial experts. The focus is to help users on Bridge Books Enterprise plan maximize the use of their solution. Some of the digital advisory module includes-Tax advisory, investment opportunities, financial risk management, financial succession planning, etc.
                            
                            .row.padding__y40.txt-center
                                p Cant find what you are looking for?
                                a.btn.btn-lg.btn-primary(href="/contact") Contact Us
        
            .pricing__cta__section.padding__y40
                .container.txt-center
                    h3 Give your business a boost today!
                    a.btn.btn-lg.btn-outline-inverse.uppercase(href=app_url+"/signup" target="_blank") Start my 15-day trial
