extends layouts/default.pug

block content
    .content__wrapper
        .site__page(id="pricing-page")
            .hero__section
                .overlay
                    .container
                        .overlay__content
                            h1.hero__title Pricing
                            h3.hero__subtitle Get started today with Bridgebooks by getting one of our amazing plans that suit your budget.
            
            .pricing__section
                .container
                    .row
                        .col-lg-4.col-md-4.pricing__plan
                            .pricing__plan_inner
                                h2.pricing__plan_name.txt-center Easy
                                .plan-cost-wrap
                                    .plan-cost-alt.txt-center
                                        strong.strike 3600
                                    .plan-cost.txt-center.monthly
                                        strong 1999
                                    .plan-cost.txt-center.yearly
                                        strong 22780
                                .plan-details
                                    ul
                                        li.accent-alt Accept debit cards and credit cards.
                                        li.accent-alt Unlimted vendors &amp; customers.
                                        li.accent-alt Unlimted bookkeeping.
                                        li.accent-alt Unlimted employees.
                                        li.accent-alt 1 Payrun/month
                                        li.accent-alt Reports.
                                .plan-action
                                    a.btn.btn-block.btn-lg.btn-primary(href=app_url+"/signup?plan=easy" target="_blank") Start Trial
                        .col-lg-4.col-md-4.pricing__plan
                            .pricing__plan_inner
                                h2.pricing__plan_name.txt-center Pro
                                .plan-cost-wrap
                                    .plan-cost-alt.txt-center
                                        strong.alt.strike 6000
                                    .plan-cost.txt-center.monthly
                                        strong.alt 3999
                                    .plan-cost.txt-center.yearly
                                        strong 30000
                                .plan-details
                                    ul
                                        li.txt-center.list-top Everything in Easy
                                        li.accent-alt Add and collaborate with team members.
                                        li.accent-alt Access control.
                                        li.accent-alt Unlimited Payruns
                                        li.accent-alt Invoice attachments.
                                        li.accent-alt Activity logs.
                                .plan-action
                                    a.btn.btn-block.btn-lg.btn-success(href=app_url+"/signup?plan=pro" target="_blank") Start Trial
                        .col-lg-4.col-md-4.pricing__plan
                            .pricing__plan_inner
                                h2.pricing__plan_name.txt-center Enterprise
                                .plan-cost-wrap
                                    .plan-cost-alt.txt-center
                                        strong.strike 8000
                                    .plan-cost.txt-center.monthly
                                        strong 5999
                                    .plan-cost.txt-center.yearly
                                        strong 36000
                                .plan-details
                                    ul
                                        li.txt-center.list-top Everything in Pro
                                        li.accent-alt Digital advisory services.
                                .plan-action
                                    a.btn.btn-block.btn-lg.btn-primary(href=app_url+"/signup?plan=enterprise" target="_blank") Start Trial

            .faq__section.padding__y40
                .container
                    h2.txt-center.ltr__spacing_1 Frequently Asked Questions
                    .row
                        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question What is Bridgebooks
                                    p.answer Bridgebooks is a simple accounting and payroll solution that helps individuals and businesses manage their cash flow. This way, you can stay on top of your business finances and have real-time insight to your financial performance.

                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I sign up?
                                    p.answer Getting on to the Bridgebooks platform is as easy as submitting your basic information. Once you get signed up, you can access the comprehensive platform for 30 days free of charge!

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question When do I start getting billed?
                                    p.answer Once your 30day free trial is over, we hope that you fall in love with our service offerings. This way, you can pick one of the subscription plans. Once subscription plans have been chosen, you can automatically start enjoying Bridgebooks on the move.

                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I manage recurring subscriptions
                                    p.answer Your Bridgebooks subscription is managed through a secured payment platform. Card details will be required, but not to worry, we guarantee that charges will only be incurred when due.

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question Can I migrate my data from other software
                                    p.answer Yes. Migrating from other software to Bridgebooks is seamless. Bridgebooks accepts data in CSV format and data can be easily exported to CSV, Excel and pdf formats.


                                .col-lg-6.col-md-6.question__block
                                    h3.question How do I receive payment from my customers?
                                    p.answer Bridgebooks makes payments easier. With card payment built directly into your invoices, your customers can easily pay directly into your bank accounts. This automatically reflects in your accounting reports in real-time; thereby making accounting simple and seamless.

                            .row
                                .col-lg-6.col-md-6.question__block
                                    h3.question Is Bridgebooks secure?
                                    p.answer We use SSL encryption and are Level 1 PCI compliance. So you can be sure that, with Bridgebooks, your private data stays private.
                                .col-lg-6.col-md-6.question__block
                                    h3.question What is Digital Advisory?
                                    p.answer Digital Advisory is an on-demand online support provided by our in-house financial experts. The focus is to help users on Bridgebooks Enterprise plan maximize the use of their solution. Some of the digital advisory module includes-Tax advisory, investment opportunities, financial risk management, financial succession planning, etc.
                            
                            .row.padding__y40.txt-center
                                p Cant find what you are looking for?
                                a.btn.btn-lg.btn-primary(href="/contact") Contact Us
        
            .pricing__cta__section.padding__y40
                .container.txt-center
                    h3 Give your business a boost today!
                    a.btn.btn-lg.btn-outline-inverse.uppercase(href=app_url+"/signup?plan=pro" target="_blank") Start my 30-day trial
