.hero__section {
    min-height: map-get($hero-sizes, 'default');
    background-color: $hero-default-bg;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(74, 74, 74, 0.7)
    }
}

@include respond-to('medium') {
    .hero__section {
        min-height: map-get($hero-sizes, 'medium');
    }
}