.site__footer
{
    background-color: map-get($colors , 'secondary');
    min-height: 100px;

    .brand img {
        margin: 0 auto;
    }

    .social__links {
        margin: 0 auto;
        text-align: center;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 10px 10px;
                &.fb {
                    color: #FFF;
                }

                &.twitter {
                    color: map-get($colors , 'primary' );
                }

                &.ig {
                    color: #e91e63;
                }
            }
        }
    }

    .list__header {
        color: #FFF;
        font-size: 1.2em;
    }

    .footer__links a {
        color: $footer-link-color;
        @include transition(color 0.25s ease);

        &:hover {
            color: $footer-link-hover;
        }
    }

    .legal {
        text-align: center;
        color: #FFF;
        p {
            font-size: .9em;
        }
    }
}

@include respond-to('medium') {
    .site__footer {
        .brand img{
            margin: 0;
        }
    }
}