doctype html
html(lang="")
  head
    title DigIT - #{page_title}
    meta(charset="UTF-8")
    meta(content="IE=edge" http-quiv="X-UA-Compatible")
    meta(name="description" content=page_description)
    meta(name="author" content=page_author)

  body
    include partials/header.pug
    include partials/footer.pug