#contact-page {
    .hero__section {
        background: url('../img/heros/contact.jpg') no-repeat;
        background-size: cover;
    }

    .contact__form__section .contact__form_box {
        position: relative;
        top: -30px;
        width: 85%;
        background-color: #FFF;
        @include box-shadow(0px 3px 10px rgba(50, 50, 50, 0.75));
        padding: 35px 30px;
        margin: 0 auto;
        z-index: 4;
    }
}

@include respond-to('medium') {
    #contact-page
    {
        .contact__form__section .contact__form_box {
            width: 40%;
            top: -50px;
        }
    }
}