#home-page {
    .hero__section {
        background: url('../img/heros/home.jpg') no-repeat;
        background-size: cover;
    }

    .highlights__section
    {
        background-color: map-get($colors, 'accent-alt');
        color: #FFF;

        h3 {
            padding: 0 10px;
        }

        .swiper-slide
        {
            p {
                color: #FFF;
                padding: 15px 10px;
            }
        }

        .swiper-slide:nth-child(even) {
            background-color: map-get($colors , 'primary');
        }
    }

    .showcase__section {
        background-color: map-get($colors, 'accent-alt');
        color: #FFF;

        .showcase__text 
        {
            padding-top: 30px;
            padding-bottom: 30px;

            .extra a {
                color: #FFF;
                text-decoration: none;
                
                &:hover {
                    color: #CCC;
                }
            }
        }
    }

    .cta__section {
        background: map-get($colors , 'primary');
        color: #FFF;
        p {
            line-height: 1.6em;
        }
    }

    .marketsegment__section {
        .industry__list {
            width: 80%;
            margin: 0 auto;
        }

        .industry__list li {
            text-align: left;
            padding: 15px 0px;
            i {
                color: map-get($colors , 'secondary' );
                padding-right: 10px;
            }
        }
    }
}

@include respond-to('medium') {
    #home-page
    {
        .highlights__section
        {
            .description {
                margin-top: 70px;
            }
        }

        .showcase__section .showcase__text p {
            width: 500px;
            margin: 0 auto;
            padding: 15px 0px;
        }
    }
}

@include respond-to('large') {
    #home-page
    {
    }
}