#pricing-page {
    .hero__section {
        background: url('../img/heros/pricing.jpg') no-repeat;
        background-size: cover;
    }

    .pricing__section
    {
        .pricing__plan
        {
            position: relative;

            .pricing__plan_inner 
            {
                position: relative;
                width: 90%;
                margin: 0 auto;
                background: #FFF;
                @include box-shadow(0 2px 4px rgba(0,0,0,.15));

                .pricing__plan_name {
                    padding: 15px 15px;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                
                .plan-cost-wrap {
                    border-top: 1px solid #EEE;
                    border-bottom: 1px solid #EEE;
                    min-height: 99px;
                }

                .plan-cost {
                    margin-top: 20px;
                }

                .plan-cost-alt {
                    margin-top: 13px;
                }

                .plan-cost strong, .plan-cost-alt strong {
                    font-size: 26px;
                    line-height: 46px;

                    &.alt {
                        color: map-get($colors, 'accent-alt');
                    }

                    &.strike {
                        text-decoration: line-through;
                        font-size: 14px !important;
                        line-height: 28px !important;
                    }

                    &::before {
                        content: "\0020A6";
                    }
                    &::after {
                        content: '/mo';
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .plan-details {
                    ul 
                    {
                        margin: 0;
                        margin-bottom: 20px;
                        list-style: none;

                        li {
                            padding: 10px 20px;
                            position: relative;

                            &.list-top {
                                padding: 10px 0px !important;
                                margin-left: -20px;
                            }
                            &.accent-alt
                            {
                                &::after {
                                    font-family: "FontAwesome";
                                    content: "\f058";
                                    position: absolute;
                                    left: 3px;
                                    top: 11px;
                                    z-index: 1;
                                    color: map-get($colors, 'accent-alt');
                                }
                            }
                        }
                    }
                }

                .plan-action {
                    padding: 10px 10px;
                }
            }
        }
    }

    .faq__section
    {
        .question__block .question {
            font-size: 1.3em;
            letter-spacing: 1px;
        }

        .question__block .answer {
            line-height: 1.6em;
            padding: 10px 0px
        }
    }

    .pricing__cta__section
    {
        background: map-get($colors, 'accent');
        color: #FFF;
    }
}

@include respond-to('medium') {
   #pricing-page
   {
       .pricing__section {
           margin-top: -40px;
           background: #f1efef;
           padding-bottom: 40px;

           .pricing__plan {
               height: 600px;
               .pricing__plan_inner {
                   height: 100%;
               }

               .plan-action {
                   position: absolute;
                   bottom: 15px;
                   width: 100%;
                   margin: 0px auto;
               }
           }
       }
   }
}