.reset__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.padding__y20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ltr__spacing_1 {
    letter-spacing: 1px;
}

.uppercase {
    text-transform: uppercase;
}