//variables.scss

/* Colors */
$colors: (
    primary: #0e98ca,
    secondary: #1152a1,
    accent: #53abe3,
    accent-alt: #16a9c6,
);

$hero-default-bg: #4a4a4a; 

/* Breakpoints */
$breakpoints: (
  'small'  : ( min-width:  767px ),
  'medium' : ( min-width:  992px ),
  'large'  : ( min-width: 1200px )
);

$hero-sizes: (
    default: 600px,
    small: 400px,
    medium: 450px,
    large: 500px
);

$slider-heights: (
    default: 400px,
    small: 400px,
    medium: 400px,
    large: 450px
);

/* Typography Measurements */
$base_text_size: 15px;
$base_line_height: 20px;

$footer-link-color: #c3c3c3;
$footer-link-hover: #FFF;