extends ../layouts/default.pug

block content
    .content__wrapper
        .site__page.payroll(id="feature-page")
            .mini-hero__section
                .container
                    .row
                        .col-lg-12.col-md-12
                            h1.ltr__spacing_1 Payroll
                            .row
                                .col-lg-3.col-md-3
                                    .hero-text
                                        hr
                                        p Payruns.
        
            .feature-detail__section
                .container
                    .row
                        .col-lg-4.col-md-4.feature-detail__sidebar
                            .panel.panel-default
                                .panel-heading
                                    h3.panel-title Payroll
                                ul.list-group
                                    li.list-group-item 
                                        a(href="/features/payroll/employees") Employees
                                    li.list-group-item 
                                        a(href="/features/payroll/runs") Payroll Runs
                        .col-lg-8.col-md-8.feature-detail__content
                            .row.feature-content
                                .col-lg-12.col-md-12
                                    .feature-image
                                        img.img-responsive(src="/assets/img/screens/bb-payroll-run.png" alt="Payroll")
                                    .row
                                        .col-lg-12.col-md-12
                                            p Edit individual payslips in your payruns with the easy to use payslip editor.
