footer.site__footer.padding__y20
    .container
        .row
            .col-lg-2.col-md-2
                .brand
                    img.img-responsive(src="/assets/img/logo-white.png" alt="ZenBooks" style="width: 150px;")
                    ul.social__links.reset__list.clearfix
                        li
                            a.fb(href="https://facebook.com/" target="_blank") #[i.fa.fa-2x.fa-facebook]
                        li
                            a.twitter(href="https://twitter.com/" target="_blank") #[i.fa.fa-2x.fa-twitter]
                        li
                            a.ig(href="https://instagram.com/" target="_blank") #[i.fa.fa-2x.fa-instagram]

            .col-lg-3.col-md-3
                h3.list__header.ltr__spacing_1.uppercase Product
                ul.reset__list.footer__links
                    li #[a(href="/features") Tour]
                    li #[a(href="/pricing") Pricing]
                    li #[a(href="/tos") Terms of Service]
                    li #[a(href="/privacy") Privacy Policy]
            .col-lg-3.col-md-3
                h3.list__header.ltr__spacing_1.uppercase Resources
                ul.reset__list.footer__links
                    li #[a(href="/about") About Us]
                    li #[a(href="/faqs") FAQs]
                    li #[a(href="") User Guide]
            .col-lg-3.col-md-3
                h3.list__header.ltr__spacing_1.uppercase Contact
                ul.reset__list.footer__links
                    li #[a(href="/contact") Contact Us]
                    li #[a(href="") Support]
        hr
        .row
            .legal
                p 2017 First Renaissance Assoicates. All Rights Reserved