//site__header 
header.site__header.not-sticky.visible-md.visible-lg(sticky-header)
    .container.clearfix
        .header__left.pull-left
            .header__logo
                a(href="/") #[img.img-responsive(src="/assets/img/logo-white.png" alt="ZenBooks" flip-sticky)]
        .header__right.pull-right
            nav.header__nav
                ul.header__nav__menu.reset__list.clearfix
                    li.item #[a(href="/features") Features]
                    li.item #[a(href="/pricing") Pricing]
                    li.item #[a(href=app_url+"/login" target="_blank") Login]
                    li.item-btn #[a.btn.btn-primary(href=app_url+"/signup" target="_blank") Sign Up]
                

//mobile__header    
header.mobile__header.not-sticky.visible-sm.visible-xs(sticky-header)
    .container.clearfix
        .header__left.pull-left
            a.mobile_menu_toggle(menu-toggle) #[i.fa.fa-bars.fa-2x]
        .header__right.pull-right
            a.header__logo(href="/") #[img.img-responsive(src="/assets/img/logo-white.png" alt="ZenBooks" flip-sticky)]