nav.mobile__menu.closed.visible-xs.visible.sm(id="mobile-menu")
    .mobile__menu_content
        ul.reset__list.menu
         li #[a(href="" menu-toggle) Features]
         li #[a(href="" menu-toggle) Pricing]
         li #[a(href="" menu-toggle) Login]
         li #[a(href="" menu-toggle) Sign Up]